# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Downloads\inno-java-stc-21-07-master (2)\inno-java-stc-21-07-master\Projects\42. JavaFX Socket Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
