# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Downloads\urmatsky_yuri_stc_30-main\urmatsky_yuri_stc_30-main\TanksProject\Game Socket Server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
